{{!-- Title and Image --}}
<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/img/running-uphill.jpg" alt="trail runners" class="responsive-img" />
        <div class="centered-right">
            <h1 >About <span style="color: #EBAF1A">N</span>-DEVR</h1>
        </div>
    </div>
</div>


{{!-- About Us --}}
<div class="container" id="exofont">
    <div class="row">
        <div class="col">
            <h3 id="ndevrfont" data-aos="fade-left">en·deav·or (verb)</h3>
            <h4 data-aos="fade-right">1 : to attempt something by exertion of effort.</h4>
            <h4 data-aos="fade-right">2 : to strive to achieve or reach.</h4>
        </div>
        <div class="col" id="aboutndevr">
            <p>Are you an someone who loves planning out your activity goals and adventures? <span
                    style="color: #EBAF1A">N</span>-DEVR is here to help! </p>
            <p><span style="color: #EBAF1A">N</span>-DEVR aims to help adventure seekers plan out their outdoor
                activities &
                endeavors. Our team's mission is to easily allow our active outdoor community to plan, organize, and
                include friends in outdoor pursuits and goals. </p>
            <p><span style="color: #EBAF1A">N</span>-DEVR is powered by
                <a href="https://www.strava.com/"><img src="/assets/img/stravalogo.png" height="12px"></a>
                and enables it's 50+ million athletes to connect and plan their activities.
            </p>
        </div>
    </div>
</div>


<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/img/mntbikegroup.jpg" alt="group of mountain bikers" class="responsive-img" />
    </div>
</div>


{{!-- How N-DEVR works --}}
<div class="container" id="exofont">
    <div class="row">
        <div class="col">
            <h3>How <span style="color: #EBAF1A">N</span>-DEVR works:</h3>
        </div>
    </div>
    <div class="row" data-aos="fade-left">
        <div class="col s12 l4">
            <img src="/assets/img/segmentsonmap.png" alt="map of Strava Segments" class="responsive-img z-depth-3">
        </div>
        <div class="col s12 l8">
            <h4 class="coolblue">MAP</h4>
            <p class="flow-text">
                Once you have selected to create an endeavor you'll explore our map of 1000's of activity segments.
                You'll
                click the
                segments you'd like to include in your activity.
            </p>
        </div>
    </div>
    <div class="row" data-aos="fade-left">
        <div class="col s12 l4">
            <img src="/assets/img/segmentlist.png" alt="list of Strava segments" class="responsive-img z-depth-3">
        </div>
        <div class="col s12 l8">
            <h4 class="coolblue">SEGMENTS</h4>
            <p class="flow-text">
                As you click segments on the map they'll be added to your segment list.
            </p>
        </div>
    </div>
    <div class="row" data-aos="fade-left">
        <div class="col s12 l4">
            <img src="/assets/img/activity-name-example.png" alt="activity name & description" class="responsive-img z-depth-3">
        </div>
        <div class="col s12 l8">
            <h4 class="coolblue">NAME & DESCRIPTION</h4>
            <p class="flow-text">
                Once you've built your activity, create a name and description for this N-DEVR.
            </p>
        </div>
    </div>
    <div class="row" data-aos="fade-left">
        <div class="col s12 l4">
            <img src="/assets/img/friendslist.png" alt="list of friends" class="responsive-img z-depth-3">
        </div>
        <div class="col s12 l8">
            <h4 class="coolblue">FRIENDS</h4>
            <p class="flow-text">
                Finally, the best part! You get to include your friends in your all your N-DEVR's.
            </p>
        </div>
    </div>
</div>


<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/img/hiking.jpg" alt="hiking" class="responsive-img" />
    </div>
</div>


{{!-- Contributors and Photos --}}
<div>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h3 id="ndevrfont">Our Team</h3>
            </div>
        </div>
        <div class="row" id="exofont" data-aos="zoom-in">
            <p id="aboutndevr" class="flow-text">
                Our team at <span style="color: #EBAF1A">N</span>-DEVR are experienced outdoor enthusiasts who love
                participating in active pursuits. <span style="color: #EBAF1A">N</span>-DEVR was born out of our desire
                to plan and achieve outdoor adventure goals with our friends. We noticed our stoke level only grew as a
                plan
                for the next adventure was built, especially if that plan included our friends. </p>
            <p id="aboutndevr">Hope to see you on your next <span style="color: #EBAF1A">N</span>-DEVR!</p>
        </div>
    </div>
    <div class="container">
        <div class="row coolblue" id="exofont">
            <div class="col s12 l6 center-align" data-aos="flip-left">
                <img class="circle z-depth-2" height="200px"
                    src="https://ca.slack-edge.com/T01EK8F49FD-U01EQLMH3S6-10ba5fdbd101-512" alt="Paul Vatterott">
                <p class="center-align flow-text">Paul Vatterott</p>
            </div>
            <div class="col s12 l6 center-align" data-aos="flip-left">
                <img class="circle z-depth-2" height="200px"
                    src="https://ca.slack-edge.com/T01EK8F49FD-U01EVDTUQTX-1cfe0c87b7c4-512" alt="Ryan Hadfield">
                <p class="center-align flow-text">Ryan Hadfield</p>
            </div>
        </div>
    </div>
</div>



<div class="parallax-container">
    <div class="parallax">
        <img src="/assets/img/IMG_8744.jpg" alt="biking eagle mountain" class="responsive-img" />
    </div>
</div>