
<section class="section">


  <video playsinline autoplay muted loop id="myvideo">
    <source src="/assets/img/DJI_0502.MOV.mp4" type="video/mp4">
  </video>

  <div class="viewport-header">
    <h1 id="landingpageH1" class="white-text">Plan your next <span style="color: #EBAF1A">N</span>-DEVR</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 center"><span class="flow-text">
          <a class="waves-effect waves-light btn-large" href="/auth/login" id="letsgobtn">Let's Go!</a>
      </div>
    </div>
  </div>



</section>