<!-- Parallax Image -->
<div class="parallax-container" >
  <div class="parallax">
    <img src="/assets/img/IMG_6705.jpg" alt="biking bryce" class="responsive-img" />
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 center">
      <h2 id="welcome">Welcome to </h2>
      <img src="/assets/img/ndevr-black.png" alt="N-DEVR logo" data-aos="zoom-in" />
      <p id="welcome">Your next adventure awaits. Sign in with your <a href="https://www.strava.com/"><img
            src="/assets/img/stravalogo.png" height="12px"></a> login to get started on planning your next N-DEVR.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn-large" id="letsgobtn" href="/auth/strava" id="welcome">Login with
        Strava</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <p id="welcome">Don't have a Strava account? No problem, sign up <a href="https://www.strava.com/">here.</a>
      </p>
    </div>
  </div>
</div>


<!-- Parallax Image -->
<div class="parallax-container">
  <div class="parallax">
    <img src="/assets/img/trailrunner.jpg" alt="trail runner" class="responsive-img" />
  </div>
</div>